<div class="back">
  <div class="container">
    <h1>Todo Memo App</h1>
      <h2>Todoメモアプリへようこそ</h2>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-outline-dark" %>
  </div>
</div>
<div class="container marketing">
  <div class="row">
    <div class="col-lg-4">
      <%= image_pack_tag 'todo-lists-5238324_640.jpeg' %>
      <h2>アプリについて</h2>
      <p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
      <%= link_to "詳細を見る", "#", class: "btn btn-outline-secondary" %>
    </div>
    <div class="col-lg-4">
      <%= image_pack_tag 'todo-lists-5238324_640.jpeg' %>
      <h2>ヘルプ</h2>
      <p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
      <%= link_to "詳細を見る", "#", class: "btn btn-outline-secondary" %>
    </div>
    <div class="col-lg-4">
      <%= image_pack_tag 'todo-lists-5238324_640.jpeg' %>
      <h2>コンタクト</h2>
      <p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
      <%= link_to "詳細を見る", "#", class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>
