<%= form_with(model: @user, local: true) do |f| %>
  <%= render 'shared/error_messages', object: @user %>

  <% if @user.image? %>
    <%= image_tag @user.image.url %>
  <% else %>
    <%= image_tag "/assets/default.jpg" %>
   <% end %>
  <div class= "accout-page__inner--icon">
    <div class= "account-page__inner--icon__label">
      <div class= "account-page__inner--icon__input">
        <% if @image.present? %>
          <%= image_tag @image.url, class: 'account-page__inner--icon__input__image', width: '100%' %>
          <div class= "account-page__inner--icon__input__image2">
            <%= f.file_field :image , class: 'account-page__inner--icon__input__btn', id: 'upload-icon' %>
          </div>
        <% end %>
    </div>
  </div>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>