<%= form_with(model: @user, local: true) do |f| %>
  <%= render 'shared/error_messages', object: @user %>

  <div class="form-item">
    <%= f.label :name, "名前" %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-item">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-item">
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-item">
    <%= f.label :password_confirmation, "パスワードの確認" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <%= f.submit yield(:button_text), class: "btn btn-panel" %>
<% end %>
