<% provide(:title, @user.name) %>
<div class="d-flex justify-content-end">
  <%= link_to "ユーザー一覧", users_path, class: "nav-link" %>
</div>
<div class="container">
  <div class="row">
    <aside class="col-md-4">
      <div class="image">
        <%= form_with(model: @user, local: true) do |f| %>
          <% if @user.image.present? %>
            <%= image_tag @user.image.url %>
          <% else %>
            <%= image_tag '/images/pen-308431_640.png' %>
          <% end %>
        <% end %>
      </div>
    </aside>
    <div class="col-md-8">
      <section class="user_info">
        <h2>
          <%= @user.name %>
        </h2>
        <p>
          <%= @user.email %>
        <p>
      </section>
    </div>
  </div>
</div>
<h2>Todo Memo 一覧</h2>
<div class="btn_wrapper">
  <%= link_to '新規登録', new_task_path, class: 'btn btn-panel2' %>
</div>
<table class="table">
  <tr class="thead">
    <th>ID</th>
    <th>名前</th>
    <th>登録日時</th>
    <th>#</th>
    <th>#</th>
  </tr>
<%= render @tasks %>
</table>

<% @tasks.each do |task| %>

  <div id="bookmark_<%= task.id %>">
    <%= render partial: 'bookmarks/bookmark', locals: { task: task } %>
  </div>

<%= link_to task_path(task), method: :delete do %>
          <i class="fas fa-trash"></i>
        <% end %>
        <%= link_to edit_task_path(task) do %>
          <i class="fas fa-edit"></i>
        <% end %>

<% end %>